<ul>
    @for (food of foods; track $index){
        <li>
            <a>  
                <div class="content">
                <img src="{{food.imageUrl}}" alt="image of food">
               
                    <div class="name">
                        {{food.nome}}
                    </div>
                    <span class="favorite">
                        ❤
                    </span>
                    <div class="origin">
                        <span *ngFor="let origins of food.origins">
                        {{origins}}
                       </span>
                    </div>
                   <div class="cook-time">
                         <span>
                            🕒
                         </span>
                         
                            {{food.cookTime}}
                         
                   </div>
                   <div class="price">
                    {{food.price}}
                   </div>
                </div>
            </a>
        </li>
    }
</ul>